
__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
.env/
ExpectedMarketRetrun/  # 如果你的虛擬環境剛好跟專案同名


*.xlsx

!data/raw/.gitkeep
!data/processed/.gitkeep

.env
.env.local
config_private.py

.vscode/


.idea/
*.iws
*.iml
*.ipr

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store

